.DocTable {

  .document {
    margin-top: 1.2rem;
    border-radius:5px;
  }
  
  
  
  .document:hover {
    background-color: rgb(228, 241, 255);
  }
  
  .document-title {
    font-size:110%;
  }
  
  .document-constraint {
    font-size: 80%;
  }
  
  .icon {
    margin-right: 5px;
  }
  
  .container {
  }


}

