.document {
  padding:.5rem;
  margin:.5rem;
}



.document:hover {
  //background-color: antiquewhite;
}

.document-title {
  font-size:110%;
}

.document-constraint {
  font-size: 80%;
}

.icon {
  margin-right: 5px;
}

.search-form {
  padding: 20px;
}