.document {
  padding:5px;
  margin:5px;
}

.document:hover {
  background-color: antiquewhite;
}

.document-title {
  font-size:110%;
}

.document-author {
  color: gray;
  font-size:80%;
}

.document-constraint {
  font-size: 80%;
}

.icon {
  margin-right: 5px;
}