.fileItem {

  .fileBtn {
    float:right;
    padding:1px 5px;
    margin:1px 3px;
  }

  padding:10px;
  margin:4px;
  border-radius:5px;
  border:1px solid #EEE;
  color:navy;
  background:navajowhite;
}
