

.Document {

  .document-title {
    font-size:110%;
  }
  
  .document-constraint {
    font-size: 100%;
  }
  
  .constraint-title {
    display:inline-block;
    width:100px;
  }
  
  .icon {
    margin-right: 5px;
  }
  
  .container {
  }
}


