.metaContainer {
  padding:5px;
  margin:5px;
}

.detailsContainer {
  border:1px dotted rgb(202, 183, 183);
  background-color: rgb(255, 248, 239);
  border-radius:5px;
  padding:5px;

  div {
    padding:5px;
  }
}

.filesContainer {
  padding:5px;    
}
